
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">            
  <a class="navbar-brand" href="javascript:void(0)">{{ title }}</a>
  <ul class="navbar-nav ml-auto nav-right-side">
    <li ngbDropdown class="nav-item d-inline-block">
      <a class="nav-link" href="javascript:void(0)" id="dropdownBasic1" ngbDropdownToggle>
        <fa name="user-circle" size="2x"></fa>
        <!-- {{service.email}} -->
        <span class="author-name"> batman@iam.com</span>
      </a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="bg-dark">
        <a class="dropdown-item text-white" routerLink="/"><fa name="sign-out"></fa>Logout</a>
      </div>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="container text-center">
    <span class="text-muted">&copy; 2018-2019 Database Systems, Project 1 
      <a href="https://github.com/louspawn/311-Chicago-Incidents-Web-App" target="_blank"><fa name="github"></fa> Github</a>
    </span>
  </div>
</footer>
