<div class="container">
  <div class="row" style="padding-top: 40px;">
  <div class="col-md-8 offset-md-2">
    <h4 class="mb-3">Register</h4>
    <form class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="email">Email</label>
        <input [(ngModel)]="user.email" name="email"  type="email" class="form-control" id="email" placeholder="batman@iam.com" required>
        <div class="invalid-feedback">
          Please enter a valid email address.
        </div>
      </div>

      <div class="mb-3">
        <label for="password">Password</label>
        <input [(ngModel)]="user.password" name="password"  type="password" class="form-control" id="password" required>
        <div class="invalid-feedback">
          Please enter a valid password.
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">First name</label>
          <input [(ngModel)]="user.firstName" name="firstName" type="text" class="form-control" id="firstName" placeholder="Bruce" value="" required>
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Last name</label>
          <input [(ngModel)]="user.lastName" name="lastName" type="text" class="form-control" id="lastName" placeholder="Wayne" value="" required>
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="address">Address</label>
        <input [(ngModel)]="user.address" name="address" type="text" class="form-control" id="address" placeholder="1234 Main St, Gotham" required>
        <div class="invalid-feedback">
          Please enter your address.
        </div>
      </div>

      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="register()">Register</button>
    </form>
  </div>
</div>
